language: python
python:
  - 2.5
  - 2.6
  - 2.7
  - pypy
  - 3.2
  - 3.3
  - 3.4
  - nightly
  - pypy3

# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install -r requirements-test.txt
  - pip install coveralls

# command to run tests
script:
  - nosetests

after_success:
  - coveralls
